html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: inline;
  margin-right: auto;
  margin-left: auto;
}

input, button {
  margin: 0px 10px 0px 10px;
}

h1, p {
  font-family: 'Rowdies', cursive;
}

#canvas-holder {
  display: flex;
}

#input-holder {
  display: flex;
  justify-content: center;
}