.slider_default{
    display:inline-block;
    position: relative;

    /* Div size  */
    /* background-color: blue; */
    height: 25vh;
    width: 50vh;
    top: 0vh;

    /* Div text */
    text-align: center;
    vertical-align: middle;
    line-height: 90px;

    /* Div photo */
    background-image:url("drawer-outer.png");
    background-size: cover;
}

.slider_down{
    display:inline-block;
    position: relative;
    z-index: 1;

    /* background-color: blue; */
    height: 25vh;
    width: 50vh;
    top: 25vh;

    /* Div text */
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    
    animation-name: slide_down;
    animation-duration: 0.5s;

    background:url("drawer-outer.png");
    background-size: cover;
}

.slider_up{
    display:inline-block;
    position: relative;

    /* background-color: blue; */
    height: 25vh;
    width: 50vh;
    top: 0vh;


    /* Div text */
    text-align: center;
    vertical-align: middle;
    line-height: 90px;

    animation-name: slide_up;
    animation-duration: 0.5s;

    background:url("drawer-outer.png");
    background-size: cover;
}

@keyframes slide_down {
    from {top: 0vh;}
    to { top: 25vh;}
}

@keyframes slide_up {
    from {top: 25vh; z-index: 1;}
    to { top: 0vh; z-index: 0;}
}


.slider_inside{
    display:inline-block;
    position: absolute;
    z-index: -1;

    background-color:brown;
    height: 25vh;
    width: 50vh;

    /* Div text */
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.separator{
    height: 25vh;
    width: 25vh;
}

.slider{

}

.line{
    display:inline-flex