html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid black;
    border-radius: 5px;
}

input, button {
    margin: 0px 10px 0px 10px
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

h1, p {
    font-family: 'Rowdies', cursive;
}

.input-holder {
    display: flex;
    justify-content: center;
}

.fractal-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fractal-description {
    text-align: center;
    padding-right: 10px;
}